Options +FollowSymlinks
RewriteEngine on
RewriteBase /
RewriteRule ^feed/atom/? http://clioweb.org/atom.xml [R=301,L]
RewriteRule ^feed/? http://clioweb.org/rss.xml [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

BrowserMatch MSIE ie
Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
