---
layout: default
bodyclass: 'home'
---

<div id="intro">
  <p>ClioWeb is the online home of Jeremy Boggs, Design Architect for <a
    href="http://scholarslab.org">Digital
  Research and Scholarship</a> at the <a href="http://lib.virginia.edu">University
    of Virginia Library</a>.</p>
</div>

<div id="blog">
<p class="kicker">Recent Posts</p>
<ul class="posts">
{% for post in site.posts offset: 0 limit: 5 %}
{% include postli.html %}
{% endfor %}
</ul>
<p>Read more in the <a href="/archive.html">archive</a>.</p>
</div>
