@charset "UTF-8";
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * Sets box sizing to the border of the box. 
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */
a:hover, a:active, a:focus {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 2em;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

@media screen {
  html {
    color: #444;
    border-top: 10px solid #fafafa;
    background-image: url("/i/history697/linotype.jpg");
    background-repeat: no-repeat;
    background-color: #fafafa;
    background-attachment: fixed;
    background-position: 50% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  body {
    font-family: Cabin, Verdana, sans-serif;
  }

  a:link {
    color: #33424e;
  }
  a:visited {
    color: #87a1b3;
  }
  a:hover, a:focus {
    color: #5e707d;
  }
  a:active {
    color: #33424e;
  }

  ul {
    list-style: square;
  }

  h1 {
    font-size: 1.5em;
    line-height: 1.16667em;
  }

  h1, h2 {
    font-family: "Crimson Text", "Adobe Garamond Pro", Garamond, serif;
  }

  h2 {
    color: #999;
    padding-left: 0.5em;
    line-height: 1em;
    border-left: 1em solid #f0f0f0;
    margin: 1.75em 0 0;
  }

  header[role=banner] {
    padding-left: 8.47458%;
    padding-right: 8.47458%;
    padding-top: 1.75em;
    padding-bottom: 1.75em;
    border-top: 1px dotted rgba(0, 0, 0, 0.2);
  }
  header[role=banner] h1 {
    margin-top: 0;
    font-size: 1.875em;
    line-height: 1.86667em;
    line-height: 1.3125em;
  }
  header[role=banner] .class-details {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    color: #999;
  }
  header[role=banner] .class-details li {
    display: inline;
  }
  header[role=banner] .class-details li + li:before {
    content: " · ";
    color: #ccc;
  }
  header[role=banner] .introduction {
    padding-top: 1.75em;
  }

  div[role=main] > section {
    padding-left: 8.47458%;
    padding-right: 8.47458%;
  }

  #schedule > ul {
    list-style: none;
    padding-left: 0;
  }
  #schedule > ul li {
    font-weight: bold;
    margin-bottom: 1.75em;
  }
  #schedule > ul li p, #schedule > ul li li {
    font-weight: normal;
  }
  #schedule > ul li li {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 400px) {
  div[role=main] > section {
    background-color: #fafafa;
    padding-top: 1.75em;
    padding-bottom: 1.75em;
    border: 1px dotted rgba(0, 0, 0, 0.2);
    border-width: 1px 0;
  }
  div[role=main] > section + section {
    margin-top: 300px;
  }
}
@media screen and (min-width: 700px) {
  header[role=banner] {
    padding-top: 8.75em;
    padding-bottom: 8.75em;
  }
  header[role=banner] h1 {
    font-size: 3.75em;
    line-height: 1.4em;
  }
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  body {
    font-family: "Times New Roman", serif;
    color: black;
  }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: none;
  }

  a[href]:after {
    content: " <" attr(href) ">";
    font-family: monospace;
    color: grey;
    font-size: 90%;
    font-style: normal;
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="javascript:"]:after, a[href^="#"]:after, a[href^="mailto:"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #444;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 1cm;
}

  p, ul, ol {
    orphans: 3;
    widows: 3;
  }

  h1,
  h2,
  h3,
  section h1,
  section h2,
  section h3 {
    page-break-after: avoid;
  }

  h2 {
    font-size: 100%;
    margin: 2em 0 0;
  }
  h2 + p, h2 + ul, h2 + ol {
    margin-top: 0;
  }

  div[role=main] h1 {
    margin: 2em 0 0;
  }
  div[role=main] h1 + section h2 {
    margin-top: 1em;
  }

  .class-details {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    font-weight: bold;
  }
  .class-details li {
    display: inline;
  }
  .class-details li + li:before {
    content: " · ";
  }
}
