@charset "UTF-8";
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * Sets box sizing to the border of the box. 
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */
a:hover, a:active, a:focus {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 2em;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

@media only screen {
  html {
    border: 10px solid rgba(0, 0, 0, 0.7);
    border-width: 10px 0 0;
  }

  body {
    font-family: "ff-meta-serif-web-pro-n3", "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", serif;
    font-weight: normal;
    font-style: normal;
    color: rgba(0, 0, 0, 0.7);
    padding: 1em;
  }

  header {
    text-align: center;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "freight-sans-pro-n6", "freight-sans-pro-1","freight-sans-pro-2", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-weight: 600;
  }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
  }
  h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + * {
    margin-top: 0;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    margin-top: 2em;
  }

  article h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: "ff-meta-serif-web-pro-n3", "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", serif;
    font-weight: normal;
    font-style: normal;
    font-weight: 300;
  }

  a {
    color: #e66400;
  }
  a:visited {
    color: #e66400;
  }
  a:hover {
    color: rgba(0, 0, 0, 0.7);
  }
  a:active {
    color: rgba(0, 0, 0, 0.7);
  }

  blockquote {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.25em;
    font-family: "freight-sans-pro-n6", "freight-sans-pro-1","freight-sans-pro-2", sans-serif;
    font-weight: normal;
    font-style: normal;
    border-left: 1em solid #e66400;
  }

  table thead {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }
  table thead th {
    font-weight: 700;
    text-align: left;
    font-size: 0.8em;
  }
  table tbody tr {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  }
  table th, table td {
    padding: 0.5em;
  }

  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .kicker {
    font-weight: 600;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    font-family: "ff-meta-serif-web-pro-n3", "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", serif;
    font-weight: normal;
    font-style: normal;
  }

  .byline {
    font-weight: 500;
    font-weight: 1em;
    color: rgba(0, 0, 0, 0.5);
    font-family: "freight-sans-pro-n6", "freight-sans-pro-1","freight-sans-pro-2", sans-serif;
    font-weight: normal;
    font-style: normal;
  }

  header[role="banner"] {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  }
  header[role="banner"] h1 {
    text-transform: lowercase;
    font-weight: 300;
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 60px;
  }
  header[role="banner"] h1 a {
    text-decoration: none;
  }
  header[role="banner"] h1 a:link, header[role="banner"] h1 a:visited, header[role="banner"] h1 a:hover, header[role="banner"] h1 a:active {
    color: rgba(0, 0, 0, 0.7);
  }
  header[role="banner"] h1 a img {
    display: block;
    margin: 0 auto;
    opacity: 0.75;
    width: 30px;
    height: 30px;
  }
  header[role="banner"] nav ul {
    font-size: 1em;
    font-weight: 300;
    line-height: 60px;
    text-transform: lowercase;
    font-family: "freight-sans-pro-n6", "freight-sans-pro-1","freight-sans-pro-2", sans-serif;
    font-weight: normal;
    font-style: normal;
  }
  header[role="banner"] nav ul li {
    display: inline;
  }
  header[role="banner"] nav ul li:not(:first-child):before {
    content: " · ";
    color: rgba(0, 0, 0, 0.5);
    padding: 0 0.25em;
  }
  header[role="banner"] nav ul a {
    display: inline;
    text-decoration: none;
  }

  #intro {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  }
  #intro p {
    font-size: 1.5em;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.5);
    font-family: "freight-sans-pro-n6", "freight-sans-pro-1","freight-sans-pro-2", sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
  }
  #intro a {
    text-decoration: none;
  }

  ul.posts {
    list-style: none;
    padding-left: 0;
  }
  ul.posts li {
    margin-bottom: 1em;
  }
  ul.posts a {
    display: block;
  }

  /**
   * If a h1 has a .kicker before it, set the margin-top to 0, so they can be
   * closer.
   */
  header .kicker + h1 {
    margin-top: 0;
  }

  footer[role="contentinfo"] {
    border-top: 1px dotted rgba(0, 0, 0, 0.2);
    margin-top: 2em;
    padding-top: 2em;
  }
  footer[role="contentinfo"] h2 {
    font-weight: 600;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    font-family: "ff-meta-serif-web-pro-n3", "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", serif;
    font-weight: normal;
    font-style: normal;
    color: rgba(0, 0, 0, 0.7);
  }
  footer[role="contentinfo"] ul {
    list-style: none;
    padding-left: 0;
  }
  footer[role="contentinfo"] ul li {
    display: inline;
  }
  footer[role="contentinfo"] ul li:not(:first-child):before {
    content: " · ";
    color: rgba(0, 0, 0, 0.5);
    padding: 0 0.25em;
  }
  footer[role="contentinfo"] ul a {
    display: inline;
    text-decoration: none;
  }
}
@media only screen and (min-width: 480px) {
  body {
    font-size: 110%;
  }

  header[role="banner"] {
    margin-bottom: 3em;
    border: none;
    padding-bottom: 0;
  }
  header[role="banner"] h1 a img {
    width: 40px;
    height: 40px;
  }

  #intro {
    margin-bottom: 3em;
    padding-bottom: 3em;
  }

  nav#post-navigation {
    border-top: 1px dotted rgba(0, 0, 0, 0.2);
    padding-top: 1em;
    overflow: hidden;
    *zoom: 1;
  }
  nav#post-navigation li {
    width: 48%;
    float: left;
    margin-right: 4%;
    display: inline;
  }
  nav#post-navigation li.next {
    width: 48%;
    float: right;
    margin-right: 0;
    #margin-left: -4%;
    display: inline;
    text-align: right;
  }

  footer[role="contentinfo"] {
    margin-top: 3em;
    padding-top: 1em;
  }
  footer[role="contentinfo"] p, footer[role="contentinfo"] ul {
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 768px) {
  body {
    padding-top: 4em;
    *zoom: 1;
    max-width: 760px;
    _width: 760px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
  }
  body:after {
    content: "";
    display: table;
    clear: both;
  }

  header {
    text-align: left;
  }

  header[role="banner"] {
    margin-bottom: 6em;
  }
  header[role="banner"] h1 {
    margin-left: -60px;
    float: left;
  }
  header[role="banner"] h1 a img {
    display: inline;
    margin: 0 20px 0 0;
    width: 40px;
    height: 40px;
    padding: 0;
  }
  header[role="banner"] nav {
    text-align: right;
  }

  footer[role="contentinfo"] {
    overflow: hidden;
    *zoom: 1;
  }
  footer[role="contentinfo"] div {
    width: 15.78947%;
    float: left;
    margin-right: 5.26316%;
    display: inline;
  }
  footer[role="contentinfo"] div:first-child {
    width: 36.84211%;
    float: left;
    margin-right: 5.26316%;
    display: inline;
  }
  footer[role="contentinfo"] div:last-child {
    width: 15.78947%;
    float: right;
    margin-right: 0;
    #margin-left: -40px;
    display: inline;
  }
  footer[role="contentinfo"] ul li {
    display: block;
  }
  footer[role="contentinfo"] ul li a {
    display: block;
    text-decoration: none;
  }
  footer[role="contentinfo"] ul li:not(:first-child):before {
    content: "";
    padding: 0;
  }
  footer[role="contentinfo"] ul a:before {
    content: "·";
    color: rgba(0, 0, 0, 0.5);
    padding-right: 0.25em;
  }
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
