// Imports
@import "normalize";
@import "compass";
@import "susy";
@import "mixins";

// Typography
$base-font-size                 : 16px;
$base-line-height               : 28px;

// Susy
$gutter-padding: 0;

// Colors
$highlight        : rgb(230,100,0);
$dark-grey        : rgba(0,0,0,0.7);
$light-grey       : rgba(0,0,0,0.5);
$lightest-grey    : rgba(0,0,0,0.2);

$light-border-color: $lightest-grey;
$highlight-border-color: $highlight;
