// Imports -------------------------------------------------------------------
@import "normalize";
@import "compass";
@import "susy";
@import "mixins";

// Settings ------------------------------------------------------------------

$legacy-support-for-ie6         : false;
$legacy-support-for-ie7         : true;
$legacy-support-for-ie8         : true;
$ie                             : true;

$show-column-grid-backgrounds   : false;
$show-baseline-grid-backgrounds : false;
$show-grid-backgrounds          : false;

// Colors ---------------------------------------------------------------------
$highlight        : rgb(230,100,0);
$dark-grey        : rgba(0,0,0,0.7);
$light-grey       : rgba(0,0,0,0.5);
$lightest-grey    : rgba(0,0,0,0.2);

$light-border-color: $lightest-grey;
$highlight-border-color: $highlight;
