@mixin horizontalnav {
  li {
    display:inline;

    &:not(:first-child):before {
      content: " · ";
      color: $light-grey;
      padding: 0 0.25em;
    }

  }
  a {
    display:inline;
    text-decoration:none;
  }

}

@mixin verticalnav {
  li {
    display:block;

    a {
      display:block;
      text-decoration:none;
    }

    &:not(:first-child):before {
      content: "";
      padding:0;
    }
  }
}

@mixin kicker {
  font-weight: 600;
  font-size: 0.8em;
  color: $light-grey;
  margin:0;
  @include serif;
}

@mixin byline {
  font-weight: 500;
  font-weight:1em;
  color: $light-grey;
  @include sans-serif;
}

@mixin sans-serif {
  font-family: "freight-sans-pro-n6", "freight-sans-pro-1","freight-sans-pro-2", sans-serif;
  font-weight:normal;
  font-style:normal;
}

@mixin serif {
  font-family: "ff-meta-serif-web-pro-n3", "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", serif;
  font-weight:normal;
  font-style:normal;
}

@mixin headings-sans-serif {
  @include sans-serif;
  font-weight: 600;
}
