@import "base";

@media screen {

  html {
    color: #444;
    border-top: 10px solid #fafafa;
    background-image: url('/i/history697/linotype.jpg');
    background-repeat:no-repeat;
    background-color: #fafafa;
    background-attachment:fixed;
    background-position: 50% 0;
    @include background-size(cover);
  }

  body {
    font-family:Cabin, Verdana, sans-serif;
  }

  a {
    &:link {
      color: #33424e;
    }
    &:visited {
      color: #87a1b3;
    }
    &:hover,
    &:focus {
      color: #5e707d;
    }

    &:active {
      color: #33424e;
    }
  }

  ul {
    list-style:square;
  }

  h1 {
    @include adjust-font-size-to(24px);
  }

  h1,h2 {
    font-family: "Crimson Text", "Adobe Garamond Pro", Garamond, serif;
  }

  h2 {
    color: #999;
    padding-left: 0.5em;
    line-height:1em;
    border-left: 1em solid #f0f0f0;
    margin: rhythm(1) 0 0;
  }

  header[role=banner] {
    @include pad(1,1);
    padding-top:rhythm(1);
    padding-bottom:rhythm(1);
    border-top: 1px dotted rgba(0,0,0,0.2);
    h1 {
      margin-top:0;
      @include adjust-font-size-to(30px);
      @include adjust-leading-to(0.75);
    }

    .class-details {
      list-style:none;
      margin-left:0;
      padding-left:0;
      color: #999;

      li {
        display:inline;

        & + li:before {
          content: " · ";
          color: #ccc;
        }
      }
    }

    .introduction {
      padding-top: rhythm(1);
    }

  }

  div[role=main] > section {
    @include pad(1,1);
  }

  #schedule > ul {
    list-style:none;
    padding-left:0;

    li {
      font-weight:bold;
      margin-bottom: rhythm(1);
      p,li {
        font-weight:normal;
      }

      li {
        margin-bottom:0;
      }
    }
  }
}


@media screen and (min-width: 400px) {

  div[role=main] > section {
    background-color: #fafafa;
    padding-top: rhythm(1);
    padding-bottom: rhythm(1);
    border:1px dotted rgba(0,0,0,0.2);
    border-width: 1px 0;

    & + section {
      margin-top: 300px;
    }

  }
}

@media screen and (min-width: 700px) {
  header[role=banner] {
    padding-top: rhythm(5);
    padding-bottom: rhythm(5);

    h1 {
      @include adjust-font-size-to(60px);
    }

  }

}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  body {
    font-family: "Times New Roman", serif;
    color: black;
  }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: none;
    font-style:normal;
  }

  a[href]:after {
    content: " <" attr(href) ">";
    font-family: monospace;
    color: #777;
    font-size: 90%;
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="javascript:"]:after, a[href^="#"]:after,a[href^="mailto:"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 1cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
