html{
  border:10px solid $dark-grey;
  border-width: 10px 0 0;
}
body {
  @include serif;
  color: $dark-grey;
  padding: 1em;
}

header {
  text-align:center;
}

#{headings()} {
  @include headings-sans-serif;

  a {
    text-decoration:none;
  }

  & + * {
    margin-top:0;
  }
}

h1 {
  font-size: 2.5em;
}

h2 {
  margin-top:2em;
}

article #{headings(3,6)} {
  margin-bottom:0;
  @include serif;
  font-weight: 300;
}

a {
  @include link-colors($highlight, $dark-grey, $dark-grey, $highlight);
}

blockquote {
  color: $light-grey;
  font-size: 1.25em;
  @include sans-serif;
  border-left: 1em solid $highlight;
}

table {
  thead {
    border-bottom: 2px solid $light-border-color;
    th {
      font-weight: 700;
      text-align:left;
      font-size: 0.8em;
    }
  }

  tbody tr {
    border-bottom: 1px dotted $light-border-color;
  }

  th,td {
    padding: 0.5em;
  }
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

ul, ol {
  ul, ol {
    margin:0;
  }
}

.kicker {
  @include kicker;
}

.byline {
  @include byline;
}

header[role="banner"] {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px dotted $light-border-color;

  h1 {
    text-transform:lowercase;
    font-weight: 300;
    font-size: 1em;
    margin:0;
    padding:0;
    line-height: 60px;

    a {
      text-decoration:none;
      &:link,
      &:visited,
      &:hover,
      &:active {color: $dark-grey;}
    
      img {
        display:block;
        margin: 0 auto;
        opacity:0.75;
        width: 30px;
        height: 30px;
      }
    }
  }

  nav ul {
    font-size: 1em;
    font-weight: 300;
    line-height: 60px;
    text-transform: lowercase;
    @include sans-serif;
    @include horizontalnav;    
  }

}

#intro {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px dotted $light-border-color;
  p {
    font-size: 1.5em;
    font-weight: 100;
    color: $light-grey;
    @include sans-serif;
    margin:0;
  }
  a {
    text-decoration:none;
  }
}

ul.posts {
  list-style:none;;
  padding-left:0;

  li {
    margin-bottom: 1em;
  }
  a {
    display: block;
  }
}

/**
 * If a h1 has a .kicker before it, set the margin-top to 0, so they can be
 * closer.
 */
header .kicker + h1 {
  margin-top: 0;
}

footer[role="contentinfo"] {
  border-top: 1px dotted $light-border-color;
  margin-top:2em;
  padding-top:2em;

  h2 {
    @include kicker;
    color: $dark-grey;
  }
  ul {
    list-style:none;
    padding-left:0;

    @include horizontalnav; 
  }
}
