$total-cols: 2;
$col-width: 48%;
$gutter-width: 4%;
$side-gutter-width: 0;

body {
  font-size: 120%;
}

header[role="banner"] {
  margin-bottom: 3em;
  h1 a img {
    width: 40px;
    height: 40px;
  }
}

#intro {
  margin-bottom: 3em;
  padding-bottom: 3em;
}

nav#post-navigation {
  border-top: 1px dotted rgba(0,0,0,0.2);
  padding-top: 1em;
  @include clearfix;

  li {
    @include columns(1);
    @include alpha;

    &.next {
      @include columns(1);
      @include omega;
      text-align:right;
    }

  }

}

footer[role="contentinfo"] {
  margin-top:3em;
  padding-top:1em;

  p,ul {
    font-size:0.8em;
  }    
}
