$total-cols: 5;
$col-width: 120px;
$gutter-width: 40px;
$side-gutter-width: 0px;

body {
  padding-top: 4em;
  @include container;
}

header {
  text-align:left;
}

header[role="banner"] {
  margin-bottom: 6em;

  h1 {
    margin-left: -60px;
    float:left;
    
    a {

      img {
        display:inline;
        margin:0 20px 0 0;
        width: 40px;
        height: 40px;
        padding:0;
      }

    }
  }
  nav {
    text-align:right;
  }
}

footer[role="contentinfo"] {
  @include clearfix;
  div {
    @include columns(1, 5);

    &:first-child {
      @include alpha;
      @include columns(2,5);
    }

    &:last-child {
      @include omega;
    }

  }

  ul {
    @include verticalnav;
    a:before {
      content: "·";
      color: $light-grey;
      padding-right: 0.25em;
    }
  }
}
