$total-cols: 1;
$col-width: 96%;
$gutter-width: 0;
$side-gutter-width: 0;

html{
  border:10px solid rgba(0,0,0,0.725);
  border-width: 10px 0 0;
}
body {
  @include container;  
  font-family: "museo-sans-1","museo-sans-2", sans-serif;
  color: #333;
  color: rgba(0,0,0,0.725);
  background: #fcfcfc;
  padding: 3em 20px;
  
}

header {
  text-align:center;
}

h1,h2,h3 {
  font-family: "museo-slab-1","museo-slab-2", sans-serif;
}

h1 {
  font-weight: 500;
}

a {
  &:link {color: rgb(200,200,0); color: #c92;}
  &:visited {color: rgba(200, 200, 0, 0.8); color: #c92;}
  &:hover, a:focus { color: #333; }
  &:active { color: #333;}
}

h1 a,
h2 a,
h3 a {
  text-decoration:none;
}

blockquote {
  color: rgba(0,0,0,0.5);
  font-size: 1.25em;
}

.kicker {
  font-weight: 500;
  font-size: 0.8em;
  color: rgba(0,0,0,0.35);
  margin:0;
  font-family: "museo-slab-1", "museo-slab-2", sans-serif;
}

header[role="banner"] {
  margin-bottom: 3em;

  h1 {
    text-transform:lowercase;
    font-weight: 300;
    font-size: 1em;
    margin:0;
    padding:0;
    line-height: 60px;
    a {
      text-decoration:none;
      color: #777;

      img {
        display:block;
        margin: 0 auto;
        opacity:0.75;
        width: 30px;
        height: 30px;
      }
    }
  }

  nav ul {
    font-size: 1em;
    font-weight: 300;
    line-height: 60px;
    text-transform: lowercase;
    font-family: "museo-slab-1","museo-slab-2", sans-serif;

    li {
      display:inline;
    }

    a {
      text-decoration:none;
    }

  }

  nav li:not(:first-child):before {
    content: " / ";
    color: rgba(0,0,0,0.2);
    padding: 0 0.25em;
  }
}

#intro {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px dotted rgba(0,0,0,0.25);
  p {
    font-size: 1.5em;
    font-weight: 100;
    color: rgba(0,0,0,0.5);
    font-family: "museo-slab-1", "museo-slab-2", sans-serif;
    margin:0;
  }
  a {
    text-decoration:none;
  }
}

ul.posts {
  list-style:none;
  padding-left:0;
  
  li {
    margin-bottom: 1em;
  }
  a {
    display: block;
  }
}

/**
 * If a h1 has a .kicker before it, set the margin-top to 0, so they can be
 * closer.
 */
header .kicker + h1 {
  margin-top: 0;
}

time[pubdate] {
  font-size: 0.9em;
  font-weight: 100;
  color: rgba(0,0,0,0.5);
}
