$total-cols: 2;
$col-width: 48%;
$gutter-width: 4%;
$side-gutter-width: 0;

body {
  font-size: 120%;
}

header[role="banner"] {
  margin-bottom: 4em;
  h1 a img {
    width: 40px;
    height: 40px;
  }
}

#intro {
  margin-bottom: 4em;
  padding-bottom: 4em;
}

nav#post-navigation {
  border-top: 1px dotted rgba(0,0,0,0.2);
  padding-top: 1em;
  @include clearfix;
  @include container;

  li {
    @include columns(1);
    @include alpha;

    &.next {
      @include columns(1);
      @include omega;
      text-align:right;
    }

  }

}
